@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Mulish, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(209 213 219);
  /* color: #beadfa; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
